.background {
    width: 380px;
}

h3 {
    margin: 0;
    color: white;
}

input {
    width: 200px;
}

textarea {
    width: 198px;
    max-width: 198px;
    min-width: 198px;
}

.paper{
	margin-left: 203px;
}