.container {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;
}

.background {
	display: block;
	background: #7297A1;
	padding: 10px;
	font-family: sans-serif;
	font-size: 10pt;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.21);
}

.form_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.right {
	justify-content: flex-end;
}

.paper{
	position: absolute;
	float: left;
	display: block;
	height: 19px;
	background: white;
	color: #a3a3c2;
	margin-left: 170px;
	padding-left: 3px;
	padding-top: 3px;
	padding-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.21);
}

input#mess {
	display: block;
	float: left;
}