table {
	width: 100%;
	font: 15px sans-serif;
	font-weight: normal;
	border-collapse:collapse;
}

tr#header {
	background: #009999;
}

th {
	font-weight: normal;
}

td {
	text-align: center;
}

#tbody{
	height:150px;
}

table tbody tr:nth-child(odd){ /* Задаем стили для нечетных рядов таблицы */
    background: #f2f6f8;
}
 
table tbody tr:nth-child(even){ /* Задаем стили для четных рядов таблицы */
    background: #fff;
}